<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/manga">Mangabar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/manga/genres/2">Adventure</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manga/genres/3">Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manga/genres/4">Comedy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manga/genres/6">Demons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manga/genres/7">Mystery</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/manga/genres/10">Fantasy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manga/genres/23">School</a>
      </li>
    </ul>
    <form action="/search?source=hp" method="post" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="mangaSearch">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>