.waiting {
  background-image: url('https://cdn.dribbble.com/users/82578/screenshots/2338455/loadinganimation.gif');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
}